name: Rust Release

on:
  push:
    tags:
      - '*'  # Triggers on version tags like v1.0, v2.1, etc.
permissions:
  contents: write
  
jobs:
  build-linux:
    runs-on: ubuntu-latest
    steps:
      - name: Checkout code
        uses: actions/checkout@v2

      - name: Set up Rust
        uses: actions-rs/toolchain@v1
        with:
          toolchain: stable
          override: true

      - name: Install Linux target
        run: rustup target add x86_64-unknown-linux-gnu

      - name: Build the project for Linux
        run: cargo build --verbose --release --target x86_64-unknown-linux-gnu

      - name: List Linux target directory
        run: ls -la target/x86_64-unknown-linux-gnu/release/

      - name: Archive Linux binary
        if: success()  # Only run if the build was successful
        run: |
          mkdir -p artifacts
          cp -r target/x86_64-unknown-linux-gnu/release/* artifacts/
          rm -f artifacts/*.d
          for file in artifacts/*; do
            mv "$file" "artifacts/linux_$(basename "$file")"
          done
        
      - name: List Linux target directory
        run: ls -la target/x86_64-unknown-linux-gnu/release/

      - name: Upload Linux artifacts
        if: success()  # Only run if the build was successful
        uses: actions/upload-artifact@v3  
        with:
          name: linux-artifacts
          path: artifacts/*

  build-windows:
    runs-on: ubuntu-latest
    steps:
      - name: Checkout code
        uses: actions/checkout@v2

      - name: Set up Rust
        uses: actions-rs/toolchain@v1
        with:
          toolchain: stable
          override: true

      - name: Install Windows target
        run: rustup target add x86_64-pc-windows-gnu

      - name: Install Necessary Dependencies
        run: sudo apt-get install -y mingw-w64

      - name: Set Versions
        run: |
          sudo update-alternatives --config x86_64-w64-mingw32-gcc
          sudo update-alternatives --config x86_64-w64-mingw32-g++

      - name: Build the project for Windows
        run: cargo build --verbose --release --target x86_64-pc-windows-gnu

      - name: List Windows target directory
        run: ls -la target/x86_64-pc-windows-gnu/release/

      - name: Archive Windows binary
        if: success()  # Only run if the build was successful
        run: |
          mkdir -p artifacts
          cp -r target/x86_64-pc-windows-gnu/release/* artifacts/
          rm -f artifacts/*.d
          for file in artifacts/*; do
            mv "$file" "artifacts/windows_$(basename "$file")"
          done

      - name: List Windows target directory
        run: ls -la target/x86_64-pc-windows-gnu/release/

      - name: Upload Windows artifacts
        if: success()  # Only run if the build was successful
        uses: actions/upload-artifact@v3  
        with:
          name: windows-artifacts
          path: artifacts/*

  release:
    runs-on: ubuntu-latest
    needs: [build-linux, build-windows]  
    steps:
      - name: Download Linux artifacts
        uses: actions/download-artifact@v4  

      - name: Download Windows artifacts
        uses: actions/download-artifact@v4  

      - name: Upload Release
        uses: softprops/action-gh-release@v2
        with:
          tag_name: ${{ github.ref_name }}
          name: Release ${{ github.ref_name }}  
          files: |
            artifacts/linux_*
            artifacts/windows_*
        env:
          GITHUB_TOKEN: ${{ secrets.YOUR_PAT_SECRET }}
